.silde_wrap {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 600px;
  padding: 50px;
  background-color: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
  border-radius: 20px;
}
#slide {
  width: max-content;
  margin-top: 50px;
  border-radius: 20px;
}
.item {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 100%;
  /* right: 100%; */
  transform: translate(0, -60%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
.item:nth-child(3) {
  left: 25%;
}
.item:nth-child(4) {
  left: calc(25% + 220px);
}
.item:nth-child(5) {
  left: calc(25% + 440px);
}
.item:nth-child(n + 6) {
  left: calc(25% + 660px);
  opacity: 0;
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 270px;
  bottom: -20px;
  z-index: 222222;
  text-align: center;
  width: 700px;
}
.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.5s;
}
.buttons button:hover {
  background-color: #bac383;
}
