<div class="silde_wrap">
  <div id="slide">
    <div
      class="item"
      style="background-image: url(../../../assets/img/1.jpg)"
    ></div>
    <div
      class="item"
      style="background-image: url(../../../assets/img/2.jpg)"
    ></div>
    <div
      class="item"
      style="background-image: url(../../../assets/img/3.jpg)"
    ></div>
    <div
      class="item"
      style="background-image: url(../../../assets/img/4.jpg)"
    ></div>
    <div
      class="item"
      style="background-image: url(../../../assets/img/5.jpg)"
    ></div>
  </div>
  <div class="buttons">
    <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
    <button id="next"><i class="fa-solid fa-angle-right"></i></button>
  </div>
</div>
