<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My CV</title>
  </head>
  <body>
    <!--Begin: Header -->
    <header class="header">
      <app-header />
    </header>
    <!-- End: Header -->

    <!-- Begin: Main -->
    <div class="main">
      <!-- <div class="slider">
        <div class="container d-flex flex-column align-items-center">
          <div class="slide_img">
            <app-slider />
          </div>
          <div class="title_group">
            <div class="p_welcome">Welcome!</div>
            <p class="p_desc">
              Đây là website CV của tôi được viết bằng Angular
              <br />
              Bạn có thể tải CV hoặc gửi JD cho tôi ngay bên dưới. <br />
              Xin chân thành cảm ơn!
            </p>
            <div class="btn_group">
              <button type="button" class="btn">Tải CV</button>
              <button type="button" class="btn">Gửi JD</button>
            </div>
          </div>
        </div>
      </div> -->

      <div id="about" class="about pb-5 pt-5">
        <div class="container">
          <app-about />
        </div>
      </div>

      <span id="resume">
        <div class="infor pb-4">
          <div class="container">
            <app-infor />
          </div>
        </div>

        <div class="exp mt-5">
          <div class="container">
            <app-exp />
          </div>
        </div>
      </span>
      <div id="projects" class="projects mt-5 pt-5 pb-5 d-none d-md-block">
        <div class="container">
          <app-projects />
        </div>
      </div>

      <div id="projects" class="projects mt-5 pt-5 pb-5 d-md-none">
        <div class="container">
          <app-projectmobile />
        </div>
      </div>

      <div id="education" class="education mt-5 pt-5 pb-5">
        <div class="container">
          <app-education />
        </div>
      </div>
    </div>
    <!-- End: Main -->
    <button
      class="go-top-button"
      (click)="scrollToTop()"
      [class.show]="showGoToTopButton"
    >
      <i class="fa-solid fa-up-long"></i>
    </button>

    <button
      class="down-button d-md-none"
      (click)="scrollToTop()"
      [class.show]="showGoToTopButton"
    >
      <span>CV </span>
      <i class="fa-solid fa-circle-down"></i>
    </button>

    <!-- Begin: Footer -->
    <footer id="contact" class="footer pt-5 pb-5">
      <app-footer />
    </footer>
    <!-- End: Footer -->
  </body>
</html>
