* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
  scrollbar-color: transparent;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

.container {
  margin: 0 auto;
}

.slider {
}

/* .slide_img {
  position: relative;
  top: 370px;
} */

.title_group {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 6%;
}

.slider .p_welcome {
  font-size: 60px;
  font-weight: 900;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  padding: 0 30px;
  mix-blend-mode: multiply;
}

.slider .p_desc {
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin-top: 10px;
}

/* btn */

.btn_group {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-top: 20px;
}

button {
  padding: 8px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
/*  */

.about {
  background-image: linear-gradient(to bottom right, #beebf1, #f2b9d3);
  margin-top: 62px;
}

.projects,
.footer {
  background-image: linear-gradient(to bottom right, #beebf1, #f2b9d3);
}

/* Goto top */
.go-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 23px;
  background-color: #007bff;
  font-size: 18px;
  border-radius: 50%;
  color: #fff;
  border: none;
  cursor: pointer;
  display: none; /* Ẩn nút ban đầu */
}

.down-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 20px 23px;
  background-color: #007bff;
  font-size: 18px;
  border-radius: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.show {
  display: block;
}

@keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@media (max-width: 575.98px) {
  /* CSS cho extra small devices */
  .about {
    margin-top: 0;
  }
}
