<div>
  <div class="slider">
    <div class="slider__list">
      <div class="slider__item">
        <!-- <img src="../../../assets/img/4.jpg" alt="logo" /> -->
        <div class="project">
          <div class="img">
            <img src="../../../assets/img/project.jpg" alt="project1" />
          </div>
          <div class="name">
            <span>
              <h4>Profilo Website</h4>
              <div class="desc">
                <p>
                  My profile website, hopefully suitable for the employer's job
                </p>
                <div>
                  <ul class="tag_list">
                    <li class="tag_item">Angular</li>
                    <li class="tag_item">Typescript</li>
                    <li class="tag_item">CSS</li>
                    <li class="tag_item">Responsive</li>
                    <li class="tag_item">Nodejs</li>
                    <li class="tag_item">Express</li>
                    <li class="tag_item">Bootstrap</li>
                  </ul>
                </div>
              </div>
            </span>
            <div class="btn_group">
              <button class="see_more">Demo</button>
            </div>
          </div>
        </div>
      </div>

      <div class="slider__item">
        <!-- <img src="../../../assets/img/2.jpg" alt="logo" /> -->
        <div class="project">
          <div class="img">
            <img src="../../../assets/img/project.jpg" alt="project1" />
          </div>
          <div class="name">
            <span>
              <h4>CMS Ticket</h4>
              <div class="desc">
                <p>Manage event ticket sales and services.</p>
                <div>
                  <ul class="tag_list">
                    <li class="tag_item">ReactJs</li>
                    <li class="tag_item">Typescript</li>
                    <li class="tag_item">SASS Module</li>
                    <li class="tag_item">Redux</li>
                    <li class="tag_item">Firebase</li>
                  </ul>
                </div>
              </div>
            </span>
            <div class="btn_group">
              <button class="see_more">Demo</button>
            </div>
          </div>
        </div>
      </div>
      <div class="slider__item">
        <!-- <img src="../../../assets/img/1.jpg" alt="logo" /> -->
        <div class="project">
          <div class="img">
            <img src="../../../assets/img/project.jpg" alt="project1" />
          </div>
          <div class="name">
            <span>
              <h4>Queueing System</h4>
              <div class="desc">
                <p>
                  Manage issuance of serial numbers to patients at hospitals and
                  clinics.
                </p>
                <div>
                  <ul class="tag_list">
                    <li class="tag_item">ReactJs</li>
                    <li class="tag_item">Typescript</li>
                    <li class="tag_item">CSS</li>
                    <li class="tag_item">Firebase</li>
                  </ul>
                </div>
              </div>
            </span>
            <div class="btn_group">
              <button class="see_more">Demo</button>
            </div>
          </div>
        </div>
      </div>
      <div class="slider__item">
        <!-- <img src="../../../assets/img/3.jpg" alt="logo" /> -->
        <div class="project">
          <div class="img">
            <img src="../../../assets/img/project.jpg" alt="project1" />
          </div>
          <div class="name">
            <span>
              <h4>SPA Tour</h4>
              <div class="desc">
                <p>A Single page application website promoting tours.</p>
                <div>
                  <ul class="tag_list">
                    <li class="tag_item">ReactJs</li>
                    <li class="tag_item">Javascript</li>
                    <li class="tag_item">CSS</li>
                    <li class="tag_item">Responsive</li>
                  </ul>
                </div>
              </div>
            </span>
            <div class="btn_group">
              <button class="see_more">Demo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button id="prev"><</button>
      <button id="next">></button>
    </div>
    <ul class="dots">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
