<div class="exp-container">
  <div class="row">
    <div class="col-lg-6 col-sm-12 pe-4 ps-5 pe-lg-0 ps-lg-0">
      <h1 class="title">Work Experience</h1>
      <p class="text-style pe-4">
        &nbsp;Currently, I have 4 months of internship experience at the
        company, experiencing personal projects. <br />
        &nbsp;There is also experience I have accumulated through studying at
        university and online courses on the internet.<br />
        &nbsp;Even though my work experience is limited, I am always willing to
        learn new technology and always try to get the job done.
      </p>
    </div>

    <div class="col-lg-6 col-sm-12 pe-4 ps-4 pe-lg-0 ps-lg-0 mt-sm-4 mt-lg-0">
      <div class="company_group d-flex">
        <div class="img">
          <img src="../../../assets/img/logoalta.png" alt="logoalta" />
        </div>
        <div class="contentt">
          <h4 class="name border-bottom pb-2">ALTA SOFTWARE</h4>
          <p class="desc">
            <span class="fw-bold">Position: </span>Frontend Reactjs<br />
            <br />
            <span class="job">
              After 4 months working at the company, I learned how to work, the
              structure of real projects, and improved my qualifications through
              exercises and personal projects assigned by the company.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
